.app {
    text-align: left;
    display: flex;
    max-width: 1024px;
    margin: 10rem auto;
}

.app-content {
    max-width: 620px;
}

@media only screen and (max-width: 600px) {
    .app {
      flex-direction: column;
      align-items: center;
      margin-top: .5rem;
    }
    .app-content {
        max-width: 95%;
    }
}